body {
  background: url("https://img.freepik.com/premium-photo/futuristic-night-landscape-background-ai-generated_106547-385.jpg") no-repeat;
  background-size:cover;
  background-position: center top;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.keys{
  display: flex;
  column-gap: 2rem;
}

kbd{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 240, 245);
}

.key{
  background-color: hsla(207, 4%, 43%, 0.623);
  border: 2px solid black;
  margin: 1rem;
  border-radius: 20px;
  padding: 0.6rem .6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 160px;
  transition: all 1s;
  text-shadow: 0 2px 20px;
}
.sound{
  color: hsl(261, 100%, 88%);
  font-size: 30px;
}
.playing{
  transform: scale(1.1);
  border-color: hsl(261, 100%, 79%);
  box-shadow: 0 0 20px white;
}