body {
  background: url("https://img.freepik.com/premium-photo/futuristic-night-landscape-background-ai-generated_106547-385.jpg") no-repeat;
  background-size:cover;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.keys{
  position: relative;
  display: flex;
  
  z-index: 1;
}

kbd{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 240, 245);
}

.key{
  background-color: hsla(207, 32%, 29%, 0.623);
  border: 1px solid black;
  margin: 0.5rem;
  border-radius: 20px;
  padding: 0.5rem .6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60px;
  transition: all 1s;
  text-shadow: 0 2px 20px;
}
.sound{
  color: hsl(261, 100%, 88%);
  font-size: 12px;
}
.playing{
  transform: scale(1.1);
  border-color: hsl(261, 100%, 79%);
  box-shadow: 0 0 20px white;
}