:root{
    --base: #852fe7;
    --spacing: 10px;
    --blur: 10px;
}

body{
    text-align: center;
    background: rgb(12, 12, 68);
    color: white;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.controls{
    margin-top: 20px;
    margin-bottom: 50px;
}
.input{
    width: 100px;
}